<h1>Welcome to my Rails Installer Demo app!!</h1>
<br>
  <h2>Things to do with this project...</h2>
  <li>Create new project for 'DaysLived' app</li>
  <li>plan out database fields</li>
  <li>create views</li>
  <li>review ruby structures</li>
  <li>publish to engineyard.com</li>
  
  <h5>Updated on 7/1/2012</h5>
  
